@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes rotating {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .rotating {
    animation-name: rotating;
    animation-duration: 8s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }


